# system ignore
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath
.settings/

# IDEA
.idea/
*.ipr
*.iml
*.iws

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup

# Gradle
.gradle/
build/

# Temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp