<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwy.oscafe.web.dao.IArticleDao">
    <select id="queryArticles" resultType="Article">
    SELECT ID,TITLE,AUTHOR,CONTENT,TIME FROM LIWY_ARTICLE
        <where>
            <if test="id!=null">
              ID=#{id}
            </if>
            <if test="title!=null">
                AND TITLE LIKE CONCAT('%',#{title},'%')
            </if>
            <if test="author!=null">
                AND AUTHOR LIKE CONCAT('%',#{author},'%')
            </if>
        </where>
    </select>
    <select id="getArticle" resultType="Article">
        SELECT ID,TITLE,AUTHOR,CONTENT,TIME FROM LIWY_ARTICLE WHERE ID=#{id}
    </select>
    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO LIWY_ARTICLE(TITLE,AUTHOR,CONTENT,TIME)
        VALUES (#{title},#{author},#{content},#{time})
    </insert>
    <update id="updateArticle" parameterType="Article">
        UPDATE LIWY_ARTICLE SET TITLE=#{title},AUTHOR=#{author},CONTENT=#{content},TIME=#{time}
        WHERE ID=#{id}
    </update>
    <delete id="delArticle">
        DELETE FROM LIWY_ARTICLE WHERE ID=#{id}
    </delete>
</mapper>